@import "bower_components/normalize-css/normalize";
@import "bower_components/bourbon/core/bourbon";
@import "base/base";

header {
  background-color: $lightest-gray;
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid $light-gray;

  * {
    margin-right: 1rem;
    display: inline;
  }

  .logo {
    font-size: 1.5rem;
    margin-right: 2rem;
  }

  form {
    input[type=search] {
      width: auto;
      margin-bottom: 0;
    }
  }
}

.issue-view {
  padding: 2rem;
  position: relative;

  h1 {
    display: inline-block;
  }

  .new-issue {
    position: absolute;
    right: 2rem;
  }

  .issue-metadata {
    > * {
      margin-right: 1rem;
    }
  }

  .issue-status {
    border-radius: 2px;
    color: white;
    width: 5rem;
    padding: 0.5rem;
    font-weight: bold;
    text-transform: capitalize;

    &.open {
      background-color: limegreen;
    }

    &.closed {
      background-color: $alert;
    }
  }

  .issue-comment {
    display: table;
    margin-bottom: 2rem;

    > div {
      display: table-cell;
      vertical-align: top;
    }

    .issue-comment-author {
      min-width: 128px;
      padding-right: 2rem;
    }

    .issue-comment-attribution {
      font-weight: bold;
    }

    .issue-comment-content {
      width: 100%;
      border: 1px solid $light-gray;
      border-radius: 2px;
      padding: 1rem;
    }
  }
}

.issue-list {
  padding: 2rem;

  h1 span {
    margin-right: 1rem;
  }

  ul {

    border: 1px solid $light-gray;
    border-bottom: none;

    li {
      position: relative;
      padding: 1rem;
      border-bottom: 1px solid $light-gray;

      &:hover {
        background-color: $lightest-gray;
      }

      .issue-metadata {
        font-size: 80%;
        color: $medium-gray;
      }

      .comment-count {
        position: absolute;
        right: 1rem;
      }
    }
  }
}

.label {
  padding: 3px 4px;
  font-size: 11px;
  line-height: 1;
  font-weight: bold;
  color: white;
}
