<div class="main issue-view">
  <h1>{{model.issue.title}} <span class="issue-number">#{{model.issue.id}}</span></h1>
  <!-- <button class="new-issue">New Issue</button> -->
  <div class="issue-metadata">
    <span class="{{model.issue.state}} issue-status">
      <span class="icon-issue-opened"></span>
      {{model.issue.state}}
    </span>
    <span>{{model.issue.user.login}} opened this issue {{moment-format model.issue.createdAt}} · {{model.issue.comments.length}} comments</span>
  </div>
  <hr>
  {{#comment-widget comment=comment}}
    {{user-avatar user=comment.user user=model.issue.user}}
    {{#comment-widget-content}}
      {{md-text text=model.issue.body linkify=true}}
    {{/comment-widget-content}}
  {{/comment-widget}}

  {{#each model.issue.comments as |comment|}}
    {{#comment-widget}}
      {{user-avatar user=comment.user}}
      {{#comment-widget-content}}
        {{author-attribution comment=comment}}
        {{md-text text=comment.body linkify=true}}
      {{/comment-widget-content}}
    {{/comment-widget}}
  {{/each}}
</div>
